.container {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, #remember {
  color: whitesmoke;
}

.form-login {
  max-width: 330px;
  padding: 1rem;
  transition: 0.5s;
}

.form-login:hover {
  transform: scale(1.05);
}
