.container {
  max-width: fit-content;
  margin-top: 15%;
  border-radius: 15px;
  background-image: url("/assets/img/quiz-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .container {
    margin-top: 25%;
  }
}

h1 {
  margin-bottom: 30px;
  padding-top: 20px;
  text-align: center;
  color: whitesmoke;
}

h4 {
  width: 60%;
  margin-top: 5px;
  margin-left: 35px;
  margin-right: 5px;
  outline: none;
  text-align: center;
}

#edit-title {
  margin-top: 5px;
  margin-left: 5px;
}

#edit-title:hover {
  cursor: pointer;
  color: dodgerblue;
}

#delete-column {
  margin-top: 5px;
  margin-right: -5px;
}

#delete-column:hover {
  cursor: pointer;
  color: red;
}

.board {
  display: flex;
  width: 100%;
  padding-left: 5px;
  align-items: baseline;
  justify-content: center;
}

.column {
  max-width: 305px;
  min-width: 305px;
  padding: 10px;
  margin: 20px 5px;
  border-radius: 10px;
  background-color: #f3f3f3;
}

.task-card {
  width: 190px;
  height: 40px;
  margin-right: 5px;
  margin-left: 10px;
  line-height: 35px;
  margin-bottom: 8px;
  padding-left: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.task-card > span:focus {
  outline: none;
}

//.icon:hover + .task-card {
//  border: 1px solid orange;
//  box-shadow: none;
//}
//
//#move-r:hover + .task-card {
//  border: 1px solid orange;
//  box-shadow: none;
//}

.textarea {
  width: 190px;
  height: 40px !important;
  max-height: 80px;
  margin-left: 35px;
  margin-right: 5px;
  padding-top: 10px;
  padding-left: 3px;
  align-items: flex-start;
  line-height: 10px;
  resize: none;
  border-radius: 5px;
  border: 0;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.textarea:hover {
  background-color: #f3f3f3;
  height: 50px !important;
}

.task {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.icon {
  opacity: 50%;
  width: 16px;
  height: 16px;
  margin-top: 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon:hover {
  opacity: 1;
  transform: scale(1.2);
}

#move-l {
  margin-left: 10px;
}

#move-l:hover,
#move-r:hover {
  color: orange;
}

#delete:hover {
  color: red;
}

#add:hover {
  color: #32d214;
}

#edit:hover {
  color: dodgerblue;
}

.add-column {
  color: whitesmoke;
  margin-left: 5px;
  position: relative;
  top: 35px;
  margin-top: 80px;
  opacity: 50%;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.add-column:hover {
  opacity: 0.7;
  transform: scale(1.2);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#sl-btn,
#qa-btn {
  margin-right: 3px;
  border-color: lightgray;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
