<div class="container">

  <div
    class="main-card"
    [class.main-card]="!isBlurred"
    [class.main-card-blur]="isBlurred">

    <i
      class="bi bi-info-circle"
      id="info"
      (click)="openModal(); blurreContaner()">
    </i>

    <h1 class="fw-light">Kanban-Board</h1>

    <div class="board">
      <div
        class="column"
        *ngFor="let column of columns; let columnIndex = index">
        <div class="row">
          <h4
            class="fw-light"
            id="title"
            [contentEditable]="isTitleEditable === columnIndex">
            {{ column.title }}
          </h4>
          <div class="icon">
            <i
              class="bi bi-pencil"
              id="edit-title"
              (click)="toggleTitleEdit(columnIndex)">
            </i>
          </div>
          <div class="icon">
            <i
              class="bi bi-x-circle"
              id="delete-column"
              (click)="deleteColumn(columnIndex)"></i>
          </div>
        </div>

        <hr />

        <div
          class="row"
          *ngFor="let task of column.tasks; let taskIndex = index">
          <div class="icon">
            <i
              class="bi bi-arrow-left-circle"
              id="move-l"
              *ngIf="columnIndex > 0"
              (click)="moveTask(taskIndex, columnIndex, columnIndex - 1)">
            </i>
          </div>

          <div class="task-card">
            <span class="task" [contentEditable]="isEditable">
              {{ task }}
            </span>
          </div>

          <div class="icon">
            <i
              class="bi bi-x-circle"
              id="delete"
              (click)="deleteTask(columnIndex, taskIndex)">
            </i>
          </div>

          <div class="icon">
            <i class="bi bi-pencil" id="edit" (click)="toggleEdit()"> </i>
          </div>

          <div class="icon">
            <i
              class="bi bi-arrow-right-circle"
              id="move-r"
              *ngIf="columnIndex < columns.length - 1"
              (click)="moveTask(taskIndex, columnIndex, columnIndex + 1)">
            </i>
          </div>
        </div>

        <div class="row">
          <textarea
            class="textarea"
            autosize
            [(ngModel)]="column.newTask"
            placeholder=" Aufgabe erstellen..."
            contenteditable>
          </textarea>

          <div class="icon">
            <i class="bi bi-plus-circle" id="add" (click)="addTask(column)">
            </i>
          </div>
        </div>
      </div>

      <div class="add-column">
        <i class="bi bi-plus-circle" id="add-column" (click)="addColumn()"> </i>
      </div>
    </div>
  </div>

  <div class="button-container">
    <button
      class="btn btn-outline-light"
      id="sl-btn"
      routerLink="/shopping-list">
      Shopping-List
    </button>
    <button class="btn btn-outline-light" id="qa-btn" routerLink="/quiz-app">
      Quiz-App
    </button>
  </div>

  <!-- Modal -->
  <div *ngIf="isModalOpen" class="card" id="modal" style="width: 25rem">
    <div class="card-body">
      <h5 class="card-title mb-3">Info</h5>
      <h6 class="card-subtitle mb-3 text-body-secondary">
        Das Kanban-Board ist noch nicht vollständig implementiert!
      </h6>
      <p>Folgende Punkte werden demnächst umgesetzt:</p>
      <ol>
        <li>Drag & Drop Funktionalität</li>
        <li>Das Editieren des Titels ist nicht optimal</li>
        <li>Überarbeitung der Icons</li>
      </ol>
      <button
        class="btn btn-secondary btn-sm mt-3"
        id="close-modal-btn"
        (click)="closeModal()">
        Schließen
      </button>
    </div>
  </div>
  <!-- Modal -->
</div>
