.navbar {
  background-color: #23272e;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

#brand {
  font-weight: bold;
  color: orange;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #23272e;
  }
}

@media only screen and (min-width: 768px) {
  #menuIcon {
    display: none;
  }
}

#menuItems {
  color: whitesmoke;
}
