.container {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-box {
  width: 400px;
  padding: 10px;
  transition: 0.5s;
}

.auth-box:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 768px) {
  .auth-box {
    width: 95%;
    border: none;
  }
}

h1 {
  color: whitesmoke;
}
