<div class="container">
  <div class="auth-box">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <h1 class="h3 mb-3 fw-normal">Kontakt</h1>
      <div class="mb-3">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingName"
            placeholder="Name"
            formControlName="name" />
          <label for="floatingName">Name</label>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingCompany"
            placeholder="Company"
            formControlName="company" />
          <label for="floatingCompany">Unternehmen</label>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingEmail"
            placeholder="Company"
            formControlName="email" />
          <label for="floatingEmail">Email</label>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <textarea
            type="text"
            class="form-control"
            id="floatingMessage"
            placeholder="Company"
            formControlName="message"></textarea>
          <label for="floatingMessage">Nachricht</label>
        </div>
      </div>

      <button type="submit" class="btn btn-outline-light w-100 mt-3">Absenden</button>
    </form>
  </div>
</div>

