<div class="container">
  <h1 class="fw-light">Canban-Board</h1>

  <div class="board">

    <div class="column" *ngFor="let column of columns; let columnIndex = index">
      <h3 class="fw-light">{{ column.title }}</h3>

      <hr>

      <div
        class="card"
        *ngFor="let card of column.tasks; let taskIndex = index">
        {{ card }}
        <button
          *ngIf="columnIndex > 0"
          (click)="moveTask(taskIndex, columnIndex, columnIndex - 1)">
          ←
        </button>
        <button
          *ngIf="columnIndex < columns.length - 1"
          (click)="moveTask(taskIndex, columnIndex, columnIndex + 1)">
          →
        </button>
      </div>

      <input class="mt-2 mb-2" [(ngModel)]="column.newTask" placeholder="Aufgabe..." />
      <i class="bi bi-plus-circle-dotted px-1" (click)="addCard(column)"></i>

    </div>

  </div>

</div>
