.container {
  max-width: 900px;
  margin-top: 15%;
  margin-bottom: 10%;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .container {
    margin-top: 25%;
  }
}

h1 {
  margin-bottom: 30px;
}

.board {
  display: flex;
}

.col-10 {
  padding-right: 5px;
}

.column {
  flex: 1;
  max-width: 298px;
  padding: 10px;
  margin: 5px;
  //border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card {
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  padding: 5px;
}

//.card {
//  width: 90%;
//  padding-left: 3px;
//  resize: none;
//  border: 0;
//  border-radius: 5px;
//  outline: 0;
//  box-shadow: var(--ds-shadow-raised, 0 1px 1px #091e4240, 0 0 1px #091e424f);
//}

.card:hover {
  background-color: #f3f3f3;
}

span {
  margin-left: 5px;
  margin-right: 5px;
}

textarea {
  width: 100%;
  margin-top: 10px;
  max-height: 80px;
  padding-left: 5px;
  resize: none;
  border: 0;
  border-radius: 5px;
  outline: 0;
  box-shadow: var(--ds-shadow-raised, 0 1px 1px #091e4240, 0 0 1px #091e424f);
}

textarea:hover {
  background-color: #f3f3f3;
}

.bi-plus-circle {
  position: relative;
  top: -45px;
  left: 118px;
  opacity: 50%;
}

.bi-plus-circle:hover {
  color: #568cdc;
  border-radius: 5px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  opacity: 100%;
  transform: scale(1.2);
}

.bi-arrow-right-circle,
.bi-arrow-left-circle {
  opacity: 50%;
}

.bi-arrow-left-circle:hover,
.bi-arrow-right-circle:hover {
  color: green;
  opacity: 100%;
  transform: scale(1.2);
}
