<div class="container">
  <h1 class="fw-light">Canban-Board</h1>

  <div class="board">
    <div class="column" *ngFor="let column of columns; let columnIndex = index">
      <h4 class="fw-light">{{ column.title }}</h4>

      <hr />

      <div class="row">
        <div class="col-12">
          <div
            class="card"
            *ngFor="let task of column.tasks; let taskIndex = index">
            <div class="d-flex justify-content-between align-items-center">
              <i
                class="bi bi-arrow-left-circle"
                id="arrow-l"
                *ngIf="columnIndex > 0"
                (click)="moveTask(taskIndex, columnIndex, columnIndex - 1)">
              </i>
              <span class="flex-grow-1 text-start text-truncate">
                {{ task }}
              </span>
              <i
                class="bi bi-arrow-right-circle"
                id="arrow-r"
                *ngIf="columnIndex < columns.length - 1"
                (click)="moveTask(taskIndex, columnIndex, columnIndex + 1)">
              </i>
              <i
                class="bi bi-x-circle"
                id="delete"
                (click)="deleteTask(columnIndex, taskIndex)">
              </i>
            </div>
            <i
              class="bi bi-pencil"
              id="edit"
              (click)="editTask(columnIndex, taskIndex, newTask)"></i>
          </div>
        </div>
      </div>

      <textarea
        autosize
        autofocus
        [(ngModel)]="column.newTask"
        placeholder=" Aufgabe erstellen..."
        contenteditable>
      </textarea>
      <i class="bi bi-plus-circle" id="add" (click)="addTask(column)"> </i>
    </div>
  </div>
</div>
