.container {
  max-width: 700px;
  margin-top: 55px;
  margin-bottom: 10%;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .container {
    margin-top: 25%;
  }
}

//#link {
//  text-decoration: none;
//}
//
//#link:hover {
//  color: orange !important;
//  text-decoration: none;
//}

a {
  color: #6c757d;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: orange;
}

li {
  list-style-type: none;
  font-weight: bold;
  color: #6c757d;
}
