<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="fw-light">Hi, mein Name ist Arthur.</h1>
            <p class="lead text-muted">
                Ich arbeite als Webentwickler und bin offen für eine
                Zusammenarbeit.
            </p>
        </div>
    </div>
    <h3 class="fw-light">Mein Stack</h3>
    <div class="stackIcons">
        <img
            class="html"
            ngSrc="../../../assets/img/html5.svg"
            alt="HTML Icon"
            width="50"
            height="60" />
        <img
            ngSrc="../../../assets/img/css3.svg"
            alt="CSS Icon"
            width="50"
            height="60" />
        <img
            ngSrc="../../../assets/img/js.svg"
            alt="JavaScript Icon"
            width="50"
            height="60" />

        <img
            ngSrc="../../../assets/img/angular.svg"
            alt="Angular Icon"
            width="50"
            height="60" />
    </div>
</div>
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h2 class="fw-light">Projekte</h2>
            <p class="lead text-muted">
                Eine aktuelle Übersicht meiner Projekte
            </p>
        </div>
    </div>
</section>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 pb-3">
    <div class="col">
        <div class="card shadow-sm">
            <svg
                class="bd-placeholder-img card-img-top"
                width="100%"
                height="225"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                aria-label="Placeholder: Thumbnail"
                preserveAspectRatio="xMidYMid slice"
                focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Projekt 1</text>
            </svg>
            <div class="card-body">
                <p class="card-text">
                    Hier habe ich eine Website für einen Mental-Coach erstellt.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button
                            type="button"
                            class="btn btn-sm btn-outline-secondary">
                            View
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-sm">
            <svg
                class="bd-placeholder-img card-img-top"
                width="100%"
                height="225"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                aria-label="Placeholder: Thumbnail"
                preserveAspectRatio="xMidYMid slice"
                focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Projekt 2</text>
            </svg>
            <div class="card-body">
                <p class="card-text">Das ist ein ...</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button
                            type="button"
                            class="btn btn-sm btn-outline-secondary">
                            View
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-sm">
            <svg
                class="bd-placeholder-img card-img-top"
                width="100%"
                height="225"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                aria-label="Placeholder: Thumbnail"
                preserveAspectRatio="xMidYMid slice"
                focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Projekt 3</text>
            </svg>
            <div class="card-body">
                <p class="card-text">Das ist ein ...</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button
                            type="button"
                            class="btn btn-sm btn-outline-secondary">
                            View
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
