.container {
  max-width: 700px;
  margin-top: 55px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .container {
    margin-top: 25%;
  }
}

.card {
  margin-top: 100px;
  border: 5px solid #23272e;
  border-radius: 40px;
  transition: transform 0.5s;
}

.card:hover {
  transform: scale(1.05);
}

h1 {
  padding-top: 50px;
  padding-bottom: 20px;
}

p {
  color: #23272e;
}

#contact-btn {
  margin-top: 30px;
  border-radius: 15px;
}
