<div class="container">
  <h1 class="fw-light">Gibt es was schöneres als coding?</h1>
  <p class="lead text-muted py-4">
    Die IT war schon immer meine Leidenschaft und nachdem ich 2017 erste Erfahrungen
    mit WordPress und einem Online-Kurs für JavaScript gesammelt hatte, war ich
    hoch motiviert mich beruflich umzuorientieren und Webentwickler zu werden.
  </p>
  <p class="lead text-muted">
    Um meinem Ziel näher zu kommen habe ich 2021 eine Umschulung zum Fachinformatiker
    in der Fachrichtung Anwendungsentwicklung absolviert. Ich habe mich
    überwiegend mit HTML, CSS, JavaScript, Angular und dem Ionic Framework für
    mobile Apps befasst.
  </p>
  <p class="lead text-muted">
    Ich bin mit der agilen Softwareentwicklung vertraut und habe mit Anwendungen
    wie Jira, Confluence und der Versionsverwaltung Git gearbeitet.
    Projekterfahrung konnte ich durch mehrere betriebliche Kundenaufträge
    sammeln, wo ich das Dokumentieren, die Konzeptionierung und das Erstellen
    von Mockups angewendet habe.
  </p>

  <p class="lead text-muted">
    Die Projekte waren ein Learning Management System und eine Quiz App als
    mobile Anwendung. Darüber hinaus habe ich Basiswissen in SQL, Python und C#.
  </p>
  <button class="btn btn-warning mt-3" id="contact-btn" routerLink="/contact">
    Jetzt Kontakt aufnehmen
  </button>
</div>
