.container {
  max-width: 700px;
  margin-top: 55px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .container {
  }

  #me {
    width: 100%;
    height: 100%;
    margin-left: 0 !important;
    margin-bottom: 5px !important;
  }

  h1 {
    padding-top: 15px !important;
    padding-bottom: 10px !important;
  }

  p {
    margin-bottom: 0 !important;
  }
}

.card {
  margin-top: 100px;
  border: 5px solid #23272e;
  border-radius: 40px;
  transition: transform 0.5s;
}

.card:hover {
  transform: scale(1.05);
}

h1 {
  padding-top: 50px;
  padding-bottom: 20px;
}

#me {
  border-radius: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
}

p {
  color: #23272e;
}

#contact-btn {
  width: fit-content;
  margin-top: 40px;
  margin-bottom: 50px;
  border-radius: 15px;
}
