<div class="container">
  <div class="card">
    <div class="card-body">
      <h1 class="fw-light">Gibt es etwas Schöneres als Coding?</h1>
      <img
        id="me"
        ngSrc="../../../assets/img/menb.jpg"
        alt="Arthur"
        width="568"
        height="379" />

      <p class="lead text-muted py-2">
        Die IT war schon immer meine Leidenschaft und nachdem ich 2017 erste
        Erfahrungen mit WordPress und einem Online-Kurs für JavaScript gesammelt
        hatte, war ich hoch motiviert mich beruflich umzuorientieren und
        Webentwickler zu werden.
      </p>
      <p class="lead text-muted py-2">
        Um meinem Ziel näher zu kommen habe ich 2021 eine Umschulung zum
        Fachinformatiker in der Fachrichtung Anwendungsentwicklung absolviert.
        Ich habe mich überwiegend mit HTML, CSS, JavaScript, Angular und dem
        Ionic Framework für mobile Apps befasst.
      </p>
      <p class="lead text-muted py-2">
        Ich bin mit der agilen Softwareentwicklung vertraut und habe mit
        Anwendungen wie Jira, Confluence und der Versionsverwaltung Git
        gearbeitet. Projekterfahrung konnte ich durch mehrere betriebliche
        Kundenaufträge sammeln, wo ich das Dokumentieren, die Konzeptionierung
        und das Erstellen von Mockups angewendet habe.
      </p>
      <p class="lead text-muted py-2">
        Zu den Projekten gehörten ein Learning-Management-System, eine Quiz-App
        als mobile Anwendung und als Abschlussprojekt habe ich ein
        E-Learning-Autorentool entwickelt, welches zur Erstellung von Chatbots
        dient. Zusätzlich habe ich diese Webseite als Portfolio angelegt und
        drei weitere Projekte umgesetzt.
      </p>
    </div>
  </div>
  <button class="btn btn-outline-light" id="contact-btn" routerLink="/contact">
    Jetzt Kontakt aufnehmen
  </button>
</div>
