<div class="container">
  <div class="row text-center">
    <div class="col">
      <h1 class="fw-light">Hi, mein Name ist Arthur.</h1>
      <p class="lead text-muted">
        Ich arbeite als Webentwickler und bin offen für eine Zusammenarbeit.
      </p>
    </div>
  </div>
  <h3 class="fw-light text-center">Mein Stack</h3>
  <div class="stackIcons">
    <img
      class="html"
      ngSrc="../../../assets/img/html.png"
      alt="HTML Icon"
      width="50"
      height="60" />
    <img
      class="css"
      ngSrc="../../../assets/img/css.png"
      alt="CSS Icon"
      width="50"
      height="60" />
    <img
      class="angular"
      ngSrc="../../../assets/img/angular.png"
      alt="Angular Icon"
      width="50"
      height="60" />
    <img
      class="ts"
      ngSrc="../../../assets/img/ts.png"
      alt="JavaScript Icon"
      width="50"
      height="50" />


  </div>
  <hr />
  <app-projects></app-projects>
</div>
