.container {
  width: 500px;
  margin-top: 10%;
  text-align: center;
}

h3 {
  margin-top: 30px;
}

hr {
  margin-top: 50px;
}

.stackIcons {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin: 0 auto;
  padding: 10px 0;
}

.card {
  margin-top: 10%;
}
