.container {
  max-width: 700px;
  margin-top: 55px;
}

h3 {
  margin-top: 10px;
}

hr {
  max-width: 700px;
  margin-top: 30px;
  margin-right: 15%;
  margin-left: 15%;
}

.html {
  filter: drop-shadow(0 4px 6px #555);
}

.css {
  filter: drop-shadow(0 4px 6px #555);
}

.angular {
  filter: drop-shadow(0 4px 6px #555);
}

.ts {
  margin-top: 5px;
  filter: drop-shadow(0 4px 6px #555);
}

.stackIcons {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin: 30px auto;
  padding: 10px 0;
}

.html:hover,
.css:hover,
.ts:hover,
.angular:hover {
  transform: scale(1.15);
  transition: 0.5s;
}

.card {
  margin-top: 5%;
  text-align: left;
  border: 5px solid #23272e;
}

.card:hover {
  transform: scale(1.05);
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.12),
    0 4px 8px rgba(0, 0, 0, 0.06);
}

@media only screen and (max-width: 768px) {
  .container {
    margin-top: 25%;
  }
}

#contact-btn {
  margin-left: 35%;
  border-radius: 15px;
}
