<div class="container">
  <div class="card">
    <div class="row text-center">
      <div class="col">
        <h1 class="fw-light py-5">Hi, mein Name ist Arthur.</h1>

        <img
          id="me"
          ngSrc="../../../assets/img/mec.png"
          alt="Arthur"
          width="200"
          height="200" />

        <p class="lead text-muted">
          Ich arbeite als Webentwickler und bin offen für eine Zusammenarbeit.
        </p>
      </div>
    </div>
    <h3 class="fw-light text-center">Mein Stack</h3>
    <div class="stackIcon-box">
      <a
        target="blank"
        rel="noopener noreferrer"
        href="https://de.wikipedia.org/wiki/Hypertext_Markup_Language">
        <img
          class="html"
          ngSrc="../../../assets/img/html.png"
          alt="HTML"
          width="50"
          height="60" />
      </a>

      <a
        target="blank"
        rel="noopener noreferrer"
        href="https://de.wikipedia.org/wiki/CSS">
        <img
          class="css"
          ngSrc="../../../assets/img/css.png"
          alt="CSS"
          width="50"
          height="60" />
      </a>

      <a
        target="blank"
        rel="noopener noreferrer"
        href="https://de.wikipedia.org/wiki/angular">
        <img
          class="angular"
          ngSrc="../../../assets/img/angular.png"
          alt="Angular"
          width="50"
          height="60" />
      </a>

      <a
        target="blank"
        rel="noopener noreferrer"
        href="https://de.wikipedia.org/wiki/TypeScript">
        <img
          class="ts"
          ngSrc="../../../assets/img/ts.png"
          alt="TypeScript"
          width="50"
          height="50" />
      </a>
    </div>
  </div>

  <app-projects></app-projects>
</div>
