<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="fw-light">Hi, mein Name ist Arthur.</h1>
      <p class="lead text-muted">
        Ich arbeite als Webentwickler und bin offen für eine Zusammenarbeit.
      </p>
    </div>
  </div>
  <h3 class="fw-light">Mein Stack</h3>
  <div class="stackIcons">
    <img
      class="html"
      ngSrc="../../../assets/img/html5.svg"
      alt="HTML Icon"
      width="50"
      height="60" />
    <img
      ngSrc="../../../assets/img/css3.svg"
      alt="CSS Icon"
      width="50"
      height="60" />
    <img
      ngSrc="../../../assets/img/js.svg"
      alt="JavaScript Icon"
      width="50"
      height="60" />

    <img
      ngSrc="../../../assets/img/angular.svg"
      alt="Angular Icon"
      width="50"
      height="60" />
  </div>
  <hr>
  <div class="py-5 text-center">
    <div class="row">
      <div class="col">
        <h2 class="fw-light">Projekte</h2>
        <p class="lead text-muted">Eine aktuelle Übersicht meiner Projekte</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <img
              src="../../../assets/img/sunrise.jpg"
              class="card-img-top"
              alt="..." />
            <h5 class="card-title py-3">Mental-Coach</h5>
            <p class="card-text">
              Hier habe ich eine Seite für einen Mental-Coach gebaut.
            </p>
            <a href="#" class="btn btn-outline-secondary">View</a>
          </div>
        </div>
      </div>
    </div><div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <img
            src="../../../assets/img/sunrise.jpg"
            class="card-img-top"
            alt="..." />
          <h5 class="card-title py-3">Analyses-Sheet</h5>
          <p class="card-text">
            Hier habe ich einen Analysebogen für einen Psychlogischen Berater gebaut.
          </p>
          <a href="#" class="btn btn-outline-secondary">View</a>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
