<div class="container">

  <div class="main-card">
    <h1 class="fw-light text-center">{{ title }}</h1>

    <div class="topic-box mb-3">
      <label for="quizTopic" class="form-label">Wähle ein Quiz-Thema:</label>
      <select
        class="form-select"
        id="quizTopic"
        [(ngModel)]="selectedQuizTopic">
        <option *ngFor="let topic of quizTopics">{{ topic }}</option>
      </select>
    </div>

    <div class="qa-card">
        <h5 class="fw-light">
          Punktestand:
          <b [ngStyle]="{ color: score > 0 ? 'green' : 'red' }">{{ score }}</b>
        </h5>

        <div *ngIf="currentQuestionIndex < questions.length">
          <h3 class="fw-light mb-3 mt-3">
            {{ questions[currentQuestionIndex].question }}
          </h3>

          <div *ngIf="currentQuestionIndex < questions.length">
            <div class="alert alert-success" *ngIf="correctAnswer">
              Antwort richtig!
            </div>
            <div class="alert alert-danger" *ngIf="incorrectAnswer">
              Antwort falsch! Die richtige Antwort ist:
              {{ questions[currentQuestionIndex]["answer"] }}
            </div>
          </div>

          <div *ngFor="let option of questions[currentQuestionIndex].options">
            <input
              type="radio"
              name="option"
              value="{{ option }}"
              [(ngModel)]="userAnswer" />
            {{ option }}
          </div>

          <button
            class="btn btn-warning mt-3"
            [disabled]="!userAnswer"
            (click)="checkAnswer(userAnswer)">
            Antwort einreichen
          </button>
        </div>

        <div *ngIf="currentQuestionIndex >= questions.length">
          <p>Quiz beendet!</p>
          <button class="btn btn-secondary mt-3" (click)="restartQuiz()">
            Quiz wiederholen
          </button>
          <button class="btn btn-danger mt-3" (click)="endQuiz()">
            Quiz beenden
          </button>
        </div>
    </div>
  </div>

  <div class="button-container">
    <button
      class="btn btn-outline-light"
      id="kb-btn"
      routerLink="/kanban-board">
      Kanban-Board
    </button>
    <button
      class="btn btn-outline-light"
      id="sl-btn"
      routerLink="/shopping-list">
      Shopping-List
    </button>
  </div>
</div>
