<div class="container">
  <h1 class="fw-light text-center mb-5">{{ title }}</h1>

  <div class="card">
    <div class="card-body">
      <h5 class="fw-light">Punktestand: {{ score }}</h5>
      <p *ngIf="incorrectAnswer">❌</p>
      <p *ngIf="correctAnswer">✅</p>

      <div *ngIf="currentQuestionIndex < questions.length">
        <h3 class="fw-light mb-3 mt-3">{{ questions[currentQuestionIndex].question }}</h3>

        <!-- Alert mit richtig oder falsch hinzugefügt -->
        <div *ngIf="currentQuestionIndex < questions.length">
          <div class="alert alert-success" *ngIf="correctAnswer">
            Antwort richtig!
          </div>
          <div class="alert alert-danger" *ngIf="incorrectAnswer">
            Antwort falsch! Die richtige Antwort ist: {{ questions[currentQuestionIndex].answer }}
          </div>
        </div>

        <div *ngFor="let option of questions[currentQuestionIndex].options">
          <input
            type="radio"
            name="option"
            value="{{ option }}"
            [(ngModel)]="userAnswer" />
          {{ option }}
        </div>

        <button class="btn btn-warning mt-3" (click)="checkAnswer(userAnswer)">Antwort einreichen</button>


      </div>

      <div *ngIf="currentQuestionIndex >= questions.length">
        <p>Quiz beendet!</p>
        <button class="btn btn-secondary" (click)="restartQuiz()">Quiz wiederholen</button>
      </div>
    </div>
  </div>
</div>
