<div class="container">

  <h1 class="fw-light">{{ title }}</h1>
  <p>Punktestand: {{ score }}</p>
  <p *ngIf="incorrectAnswer">❌</p>
  <p *ngIf="correctAnswer">✅</p>

  <div *ngIf="currentQuestionIndex < questions.length">
    <p>{{ questions[currentQuestionIndex].question }}</p>
    <div *ngFor="let option of questions[currentQuestionIndex].options">

      <input
        type="radio"
        name="option"
        value="{{ option }}"
        [(ngModel)]="userAnswer" />
      {{ option }}
    </div>

    <button (click)="checkAnswer(userAnswer)">Antwort einreichen</button>
  </div>

  <div *ngIf="currentQuestionIndex >= questions.length">
    <p>Quiz beendet!</p>
  </div>
</div>
