.container {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-card {
  max-width: 700px;
  height: 670px;
  min-height: 500px;
  margin-top: 100px;
  padding: 20px;
  border-radius: 15px;
  background-image: url("/assets/img/quizbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.5s;
}

.main-card:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 768px) {
  .main-card {
    margin-top: 100px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 20px;
    transform: none !important;
  }
}

h1,
label {
  color: whitesmoke;
}

h1 {
  padding-top: 20px;
  margin-bottom: 30px;
}

.qa-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  padding: 10px;
}

.btn-danger,
.btn-outline-secondary {
  margin-left: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#kb-btn,
#sl-btn {
  margin-right: 5px;
  margin-bottom: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
