<div class="container">
  <div class="text-center">
    <h1 class="fw-light">Projekte</h1>
    <p class="lead text-muted">Eine aktuelle Übersicht meiner Projekte</p>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <img
            src="../../../assets/img/sunrise.jpg"
            class="card-img-top"
            alt="..." />
          <h5 class="card-title py-3">Einkaufliste</h5>
          <p class="card-text">
            Hier habe ich eine Einkaufsliste gebaut.
          </p>
          <a routerLink="/shopping-list" class="btn btn-outline-secondary">View</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <img
            src="../../../assets/img/sunrise.jpg"
            class="card-img-top"
            alt="..." />
          <h5 class="card-title py-3">Canban-Board</h5>
          <p class="card-text">
            Hier habe ich ein Canban-Board gebaut.
          </p>
          <a href="#" class="btn btn-outline-secondary">View</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <img
            src="../../../assets/img/sunrise.jpg"
            class="card-img-top"
            alt="..." />
          <h5 class="card-title py-3">Mental-Coach</h5>
          <p class="card-text">
            Hier habe ich eine Seite für einen Mental-Coach gebaut.
          </p>
          <a href="#" class="btn btn-outline-secondary">View</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <img
            src="../../../assets/img/sunrise.jpg"
            class="card-img-top"
            alt="..." />
          <h5 class="card-title py-3">Analyses-Sheet</h5>
          <p class="card-text">
            Hier habe ich einen Analysebogen für einen Psychlogischen Berater
            erstellt.
          </p>
          <a href="#" class="btn btn-outline-secondary">View</a>
        </div>
      </div>
    </div>
  </div>
</div>
