<div class="container">
  <div class="text-center">
    <h1 class="fw-light">Projekte</h1>
    <p class="lead text-muted">Eine aktuelle Übersicht meiner Projekte</p>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <img
            src="../../../assets/img/shopping.jpg"
            class="card-img-top"
            alt="..." />
          <h5 class="card-title py-3">Einkaufliste</h5>
          <p class="card-text">Hier habe ich eine Einkaufsliste gebaut.</p>
          <a routerLink="/shopping-list" class="btn btn-outline-secondary">
            View
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <img
            src="../../../assets/img/kanban.jpg"
            class="card-img-top"
            alt="..." />
          <h5 class="card-title py-3">Kanban-Board</h5>
          <p class="card-text">Hier habe ich ein Kanban-Board gebaut.</p>
          <a routerLink="/kanban-board" class="btn btn-outline-secondary">
            View
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <img
            src="../../../assets/img/quiz.png"
            class="card-img-top"
            alt="..." />
          <h5 class="card-title py-3">Quiz-App</h5>
          <p class="card-text">Hier habe ich eine Quiz-App gebaut.</p>
          <a href="#" class="btn btn-outline-secondary">View</a>
        </div>
      </div>
    </div>
  </div>
</div>
