.container {
  max-width: 700px;
  margin-top: 15%;
}

.card {
  top: 5%;
  margin-bottom: 10%;
}

hr {
  width: 80%;
  margin-top: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}
