.container {
  max-width: 700px;
  margin-top: 15%;
}

.card {
  top: 5%;
  margin-bottom: 10%;
}

hr {
  margin-top: 50px;
  margin-right: 10%;
  margin-left: 10%;
}

ul {
  list-style-type: none;
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}
