.container {
  max-width: 700px;
  margin-top: 15%;
}

.card {
  top: 5%;
  margin-bottom: 10%;
}

hr {
  margin-top: 5px;
}

//ul {
//  list-style-type: none;
//  margin: 0;
//  padding: 0;
//}

.item {
  width: 80%;
  border: 1px solid darkgrey;
  border-radius: 5px;
}

.amount {
  width: 30%;
  border: 1px solid darkgrey;
  border-radius: 5px;
}

#edit-icon {
  color: dodgerblue;
}
