.container {
  max-width: 700px;
  margin-top: 15%;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  padding: 10px;
}

hr {
  margin-top: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#item-input {
  width: 80%;
  border: 0;
  border-radius: 5px;
  outline: 0;
  background: #f9f9f9;
  font-size: 1.2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#amount-input {
  width: 65%;
  border: 0;
  border-radius: 5px;
  outline: 0;
  background: #f9f9f9;
  font-size: 1.2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#item-output {
  font-size: 1.2rem;
  background: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#amount-output {
  font-size: 1.2rem;
  background: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
