.container {
  max-width: 710px;
  margin-top: 15%;
  height: 510px;
  border-radius: 15px;
  background-image: url("/assets/img/quiz-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.input-card {
  max-height: 81px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
}

.output-card {
  max-height: 227px;
  padding: 10px;
  border-radius: unset;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white;
}

.output-card::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.output-card::-webkit-scrollbar-thumb {
  background: #888;
}

.output-card::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1 {
  color: whitesmoke;
}

hr {
  margin-top: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#item-input {
  width: 80%;
  outline: 0;
  background: #f9f9f9;
  font-size: 1.1rem;
  border: none;
  border-bottom: 1px solid black;
}

#amount-input {
  width: 90px;
  outline: 0;
  background: #f9f9f9;
  font-size: 1.1rem;
  border: none;
  border-bottom: 1px solid black;
}

#item-output {
  width: 80%;

  font-size: 1.1rem;
  background: #f9f9f9;
}

#amount-output {
  font-size: 1.1rem;
  background: #f9f9f9;
}

.icon-card {
  max-height: 35px;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

//test
tr:nth-child(even) {
  background-color: lightgray;
}
tr:nth-child(odd) {
  background-color: white;
}
