.container {
  max-width: 710px;
  margin-top: 55px;
  height: 480px;
  max-height: 490px;
  border-radius: 15px;
  background-image: url("/assets/img/shoppinglist.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.input-card {
  height: 55px;
  //padding: 10px;
  padding-top: 260px;
  padding-left: 10px;
  margin-left: 130px;
  //border: 1px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  //background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.output-card {
  margin-top: 25px;
  margin-left: 100px;
  max-height: 220px;
  padding: 10px;
  border-radius: unset;
  overflow-x: hidden;
  overflow-y: scroll;
}

.output-card::-webkit-scrollbar {
  width: 10px;
}

.output-card::-webkit-scrollbar-button {
  color: #59702f;
}

.output-card::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.output-card::-webkit-scrollbar-thumb {
  background: #c9e265;
}

.output-card::-webkit-scrollbar-thumb:hover {
  background: #59702f;
}

h3 {
  color: #59702f;
  text-align: center;
  margin-right: 100px;
}

hr {
  margin-top: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#item-input {
  width: 105%;
  outline: 0;
  background: #c9e265;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  text-align: center;
}

#bag-plus {
  //color: #c9e265;
  color: black;
  margin-left: 25px;
}

#amount-input {
  width: 90px;
  outline: 0;
  background: #c9e265;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  text-align: center;
}

#item-output {
  width: 105%;
  font-size: 1.1rem;
  border-radius: 5px;
  background: #c9e265;
  text-align: center;
  color: #363535;
}

#amount-output {
  width: 90px;
  font-size: 1.1rem;
  border-radius: 5px;
  background: #c9e265;
  text-align: center;
  color: #363535;
}

#pencil {
  margin-left: 25px;
}

.icon-card {
  max-height: 35px;
  padding: 10px;
  margin-top: 25px;
  //border: 1px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  //background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#kb-btn,
#qa-btn {
  margin-right: 3px;
  border-color: lightgray;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.button-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

//test
//tr:nth-child(even) {
//  background-color: lightgray;
//}
//tr:nth-child(odd) {
//  background-color: white;
//}
