<div class="container">

  <div
    [class.main-card]="!isBlurred"
    [class.main-card-blur]="isBlurred"
    [class.main-card-blur-res]="isBlurred"
    class="main-card">

    <h1>SHOPPING</h1>
    <h3>LIST</h3>

    <div class="list-box">
      <div class="row" id="input-row">
        <div class="col-5">
          <input
            [(ngModel)]="newItemName"
            type="text"
            id="item-input"
            (keyup.enter)="addItem()"
            autofocus
            maxlength="30"
            placeholder="Artikel" />
        </div>

        <div class="col-2" id="amount-input-col">
          <input
            [(ngModel)]="newItemQuantity"
            type="number"
            min="0"
            id="amount-input"
            placeholder="Stk"
            (keyup.enter)="newItemName && addItem()" />
        </div>

        <div class="col-2" id="add-col">
          <i
            *ngIf="newItemName"
            class="bi bi-bag-plus px-0"
            id="bag-plus"
            style="font-size: 1.3rem"
            (click)="addItem()">
          </i>
        </div>
      </div>

      <div class="row" id="output-row">
        <div class="col-5">
          <ul id="item-output">
            <li *ngFor="let item of items">{{ item.name }}</li>
          </ul>
        </div>

        <div class="col-2">
          <ul id="amount-output">
            <li *ngFor="let item of items">
              {{ item.quantity > 0 ? item.quantity : "-" }}
            </li>
          </ul>
        </div>

        <div class="col-3" id="pencil-dash">
          <ul>
            <li *ngFor="let item of items; let i = index">
              <i
                *ngIf="!editMode"
                class="bi bi-pencil"
                id="pencil"
                style="font-size: 1.3rem"
                (click)="editItem(i)"></i>
              <i
                class="bi bi-bag-dash px-3"
                id="bag-dash"
                style="font-size: 1.3rem"
                (click)="deleteItem(i)"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row text-center" id="icon-row">
      <div class="col">
        <i
          class="bi bi-trash3 px-3" id="trash"
          style="font-size: 1.3rem"
          (click)="clearShoppingList()"></i>
        <i class="bi bi-download" id="download" style="font-size: 1.3rem"></i>
        <i class="bi bi-share px-3" id="share" style="font-size: 1.3rem"></i>
        <i
          class="bi bi-info-circle"
          id="info"
          style="font-size: 1.3rem"
          (click)="openModal(); blurContainer()">
        </i>
      </div>
    </div>
  </div>

  <div class="btn-row">
    <button
      class="btn btn-outline-light"
      id="kb-btn"
      routerLink="/kanban-board">
      Kanban-Board
    </button>
    <button class="btn btn-outline-light" id="qa-btn" routerLink="/quiz-app">
      Quiz-App
    </button>
  </div>

  <!-- Modal -->
  <div *ngIf="isModalOpen" class="card" id="modal" style="width: 25rem">
    <div class="card-body">
      <h5 class="card-title mb-3">Info</h5>
      <h6 class="card-subtitle mb-3 text-body-secondary">
        Die Shopping-List-App ist noch nicht vollständig implementiert!
      </h6>
      <p>Folgende Punkte werden demnächst umgesetzt:</p>
      <ol>
        <li>Download und Share Icons sind noch inaktiv</li>
        <li>Mehrere Designs zur Auswahl machen</li>
        <li>Das Bearbeiten in der Liste ermöglichen</li>
      </ol>
      <button
        class="btn btn-secondary btn-sm mt-3"
        id="close-modal-btn"
        (click)="closeModal()">
        Schließen
      </button>
    </div>
  </div>
  <!-- Modal -->
</div>
